@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:300,700,400);
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px; }

p {
  margin: 0 0 0.75rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

li {
  font-weight: 300; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left; }

.col-12 {
  width: 100%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.333333333%; }

.col-2 {
  width: 16.66666667%; }

html {
  font-size: 19px;
  font-color: #100906; }
  html a {
    color: #100906;
    text-decoration: none; }
    html a:hover {
      border-bottom: solid #b7b4b4 2px;
      color: #b7b4b4; }

body {
  margin: 0 2rem;
  background-color: #fff;
  padding: 0 2rem;
  font-family: 'Roboto Slab', sans-serif; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-block; }

header {
  margin: 0;
  background-color: #fff;
  padding: 1rem 0 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.25rem; }

footer {
  text-align: right;
  font-size: 0.75rem;
  font-color: #b7b4b4; }

#projectName {
  font-weight: 700; }

#projectType {
  font-weight: 300; }

.heroImg, .heroImgProject {
  width: 100%;
  height: 80vh; }

.heroImgProject {
  height: 50vh; }

.container {
  margin: 1rem 0 1rem 0; }

.descrip {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0; }

.metadata,
.content {
  padding: 1rem 0 0 0;
  margin-right: 1rem; }

.workImg {
  max-width: auto;
  max-height: auto;
  margin: 1rem 0.5rem 0 0.5rem;
  overflow: hidden;
  position: center center; }

.filterSelect :hover {
  cursor: pointer;
  text-decoration: underline;
  color: #b7b4b4; }

#filterDropdown {
  margin: 1rem 0; }

.filterList {
  float: left;
  width: 25%;
  display: block; }
  .filterList ul :hover {
    cursor: pointer;
    text-decoration: underline;
    color: #b7b4b4; }
  .filterList li {
    display: block;
    margin-bottom: 0.25rem; }
  .filterList h1 {
    margin-bottom: 1rem; }

img {
  width: 100%;
  height: 100%; }

.copyright {
  float: right;
  color: #b7b4b4;
  font-size: 0.666rem;
  font-weight: 300; }

.filter {
  height: auto; }

.filterContainer {
  display: inline-block; }

.filterSelect {
  display: inline-block;
  font-font-weight: 700; }

#clearFilter {
  display: inline-block;
  font-font-weight: 300; }
  #clearFilter :hover {
    text-decoration: underline;
    color: #b7b4b4; }

.project {
  float: left;
  position: relative; }

.prjDesc {
  background-color: rgba(255, 255, 255, 0.85);
  height: 4rem;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 1rem;
  bottom: 0; }

.checkered {
  background-color: darkgrey; }

@media (max-width: 960px) {
  body {
    margin: 0 1rem;
    padding: 0 1rem; }

  .col-4 {
    width: 50%; }

  .container {
    margin: 1rem 0 1rem 0; } }
@media (max-width: 480px) {
  body {
    margin: 0 0.15rem; }

  .col-4 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
